{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": false,
  "jsxBracketSameLine": false,
  "trailingComma": "es5",
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css"
}
