div::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
  background: #212529; /* color of the tracking area */
}

div::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* color of the scroll thumb */
  border-radius: 0px; /* roundness of the scroll thumb */
}
